<!DOCTYPE html>
<html lang="es">
  <head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Contiene todos los .js y .css que necesita la App (entre ellos Bootstrap) -->
    <script src="js/header_tags.js"></script>
    <script>app_title_tag();</script>
  </head>
  <body>
		<!-- Llama al Menú Principal -->
		<script>menu_principal();</script>

		<div id="app" class="container top-offset-menu">
			<h4>Nuevo cliente</h4>
			<form v-on:submit.prevent="agregarUsuario">
				<div class="form-group">
					<label>Tipo de identificacion</label>
					<select v-model="tipoidentificacion" class="form-control">
						<option value="cc">C.C.</option>
						<option value="nit">NIT.</option>
					</select>
				</div>
				<div class="form-group">
					<label>Número de indentificación</label>
					<input type="text" v-model="cedula" class="form-control">
				</div>
				<div class="form-group">
					<label>Título</label>
					<select v-model="titulo" class="form-control">
						<option value="Señor">Señor</option>
						<option value="Señora">Señora</option>
						<option value="Señores">Señores</option>
					</select>
				</div>
				<div class="form-group">
					<label>Nombres</label>
					<input type="text" v-model="nombres" class="form-control">
				</div>
				<div class="form-group">
					<label>Apellidos</label>
					<input type="text" v-model="apellidos" class="form-control">
				</div>
				<div class="form-group">
					<label>Dirección</label>
					<input type="text" v-model="direccion" class="form-control">
				</div>
				<div class="form-group">
					<label>Barrio</label>
					<input type="text" v-model="barrio" class="form-control">
				</div>
				<div class="form-group">
					<label>Departamento</label>
					<select v-model="departamento" class="form-control">
						<option value="Casanare">Casanare</option>
						<option value="Meta">Meta</option>
					</select>
				</div>
				<div class="form-group">
					<label>Ciudad</label>
					<select v-model="ciudad" class="form-control">
						<option value="Yopal">Yopal</option>
						<option value="Aguazul">Aguazul</option>
						<option value="Villavicencio">Villavicencio</option>
					</select>
				</div>
				<div class="form-group">
					<label>Celular</label>
					<input type="text" v-model="celular" class="form-control">
				</div>
				<div class="form-group">
					<label>Telefono fijo</label>
					<input type="text" v-model="telefonofijo" class="form-control">
				</div>
				<div class="form-group">
					<button class="btn btn-danger btn-block" v-on:click="guardarUsuario" :disabled="!habilitarBoton">Guardar</button>
				</div>
			</form>
		</div>
    <script src="js/footer_tags.js"></script>
    <script>
    	var vm = new Vue({
    		el:"#app",
    		data:{
    			titulo:"",
    			nombres:"",
    			apellidos:"",
    			tipoidentificacion:"",
    			cedula:"",
    			direccion:"",
    			barrio:"",
    			departamento:"",
    			ciudad:"",
    			celular:"",
    			telefonofijo:"",
    			usuarioGuardado:""
    		},
    		methods:{
    			guardarUsuario: function(){
    				this.usuarioGuardado = "guardado"
    			}
    		},
    		computed:{
    			habilitarBoton: function(){
    				if (this.nombres != '' && this.apellidos != '' && this.cedula != '' && this.correo != '' && this.password != '') {
    					return true
    				} else {
    					return false
    				}
    			}
    		}
    	})
    </script>
  </body>
</html>
